# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/VulkanTutorial/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/*.tlog
/VulkanTutorial/VulkanTutorial/x64/Debug/*.log
/VulkanTutorial/VulkanTutorial/Debug/*.pdb
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/f17ba59d6f77672c/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/d4d863d7b15637ef/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/182f3c04df69ca00/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v16/*.suo
/VulkanTutorial/.vs/VulkanTutorial/v16/*.db
/VulkanTutorial/VulkanTutorial/Debug/*.log
/VulkanTutorial/VulkanTutorial/Debug/VulkanTutorial.tlog/*.tlog
/VulkanTutorial/VulkanTutorial/Debug/VulkanTutorial.tlog/*.lastbuildstate
/VulkanTutorial/VulkanTutorial/Debug/VulkanTutorial.tlog/*
/VulkanTutorial/VulkanTutorial/Debug/*.idb
/VulkanTutorial/VulkanTutorial/*.user
/VulkanTutorial/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/*.lastbuildstate
/VulkanTutorial/VulkanTutorial/x64/Debug/*.idb
/VulkanTutorial/VulkanTutorial/x64/Debug/*.pdb
/VulkanTutorial/x64/Debug/*.ilk
/VulkanTutorial/x64/Debug/*.pdb
/VulkanTutorial/VulkanTutorial/x64/Debug/VulkanTutorial.vcxproj.FileListAbsolute.txt
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/683d10fbf6085617/MAIN.ipch
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.log
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/VulkanTutorial.write.1u.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/vc142.pdb
/VulkanTutorial/x64/Release/VulkanTutorial.iobj
/VulkanTutorial/x64/Release/VulkanTutorial.ipdb
/VulkanTutorial/x64/Release/VulkanTutorial.pdb
/SimpleTriangle/.vs/SimpleTriangle/v16/.suo
/SimpleTriangle/.vs/SimpleTriangle/v16/Browse.VC.db
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/17c0475f21d46ff4/WINDOW.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/2686af8dba2877e1/MAIN.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/335bd91a12737ab8/APPINSTANCE.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/59b3113dd9da3936/ERRORCHECKS.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/63fdb1286d3c1cd6/ERRORCHECKS.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/abd55f1ab63a2758/APPINSTANCE.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/b3443ca350af45b0/MAIN.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/d3e8cde9ae2121dd/WINDOW.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/db239c3aa782043b/MAIN.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/e90b96d12aca9cd4/WINDOW.ipch
/SimpleTriangle/SimpleTriangle.sln
/SimpleTriangle/SimpleTriangle/Debug/SimpleTriangle.log
/SimpleTriangle/SimpleTriangle/Debug/SimpleTriangle.tlog/CL.command.1.tlog
/SimpleTriangle/SimpleTriangle/Debug/SimpleTriangle.tlog/SimpleTriangle.lastbuildstate
/SimpleTriangle/SimpleTriangle/Debug/SimpleTriangle.tlog/unsuccessfulbuild
/SimpleTriangle/SimpleTriangle/Debug/vc142.idb
/SimpleTriangle/SimpleTriangle/Debug/vc142.pdb
/SimpleTriangle/SimpleTriangle/SimpleTriangle.vcxproj.user
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.Build.CppClean.log
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.log
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.tlog/CL.command.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.tlog/CL.read.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.tlog/CL.write.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.tlog/SimpleTriangle.lastbuildstate
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.tlog/link.command.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.tlog/link.read.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.tlog/link.write.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Debug/SimpleTriangle.vcxproj.FileListAbsolute.txt
/SimpleTriangle/SimpleTriangle/x64/Debug/vc142.idb
/SimpleTriangle/SimpleTriangle/x64/Debug/vc142.pdb
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.log
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/CL.command.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/CL.read.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/CL.write.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/SimpleTriangle.lastbuildstate
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/SimpleTriangle.write.1u.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/link.command.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/link.delete.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/link.read.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/SimpleTriangle.tlog/link.write.1.tlog
/SimpleTriangle/SimpleTriangle/x64/Release/vc142.pdb
/SimpleTriangle/x64/Debug/SimpleTriangle.ilk
/SimpleTriangle/x64/Debug/SimpleTriangle.pdb
/SimpleTriangle/x64/Release/SimpleTriangle.iobj
/SimpleTriangle/x64/Release/SimpleTriangle.ipdb
/SimpleTriangle/x64/Release/SimpleTriangle.pdb
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/908ed5d5f4bf24c7/MAIN.ipch
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.Build.CppClean.log
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.vcxproj.FileListAbsolute.txt
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/4102e4c30188b3d0/MAIN.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/c1882ff0982d4c7a/DEBUGMESSENGER.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/c78dbc7c9d40931d/PHYSICALDEVICE.ipch
/SimpleTriangle/.vs/SimpleTriangle/v16/ipch/AutoPCH/b824412e9924d443/LOGICALDEVICE.ipch
