# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/VulkanTutorial/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/*.tlog
/VulkanTutorial/VulkanTutorial/x64/Debug/*.log
/VulkanTutorial/VulkanTutorial/Debug/*.pdb
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/f17ba59d6f77672c/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/d4d863d7b15637ef/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/182f3c04df69ca00/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v16/*.suo
/VulkanTutorial/.vs/VulkanTutorial/v16/*.db
/VulkanTutorial/VulkanTutorial/Debug/*.log
/VulkanTutorial/VulkanTutorial/Debug/VulkanTutorial.tlog/*.tlog
/VulkanTutorial/VulkanTutorial/Debug/VulkanTutorial.tlog/*.lastbuildstate
/VulkanTutorial/VulkanTutorial/Debug/VulkanTutorial.tlog/*
/VulkanTutorial/VulkanTutorial/Debug/*.idb
/VulkanTutorial/VulkanTutorial/*.user
/VulkanTutorial/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/*.lastbuildstate
/VulkanTutorial/VulkanTutorial/x64/Debug/*.idb
/VulkanTutorial/VulkanTutorial/x64/Debug/*.pdb
/VulkanTutorial/x64/Debug/*.ilk
/VulkanTutorial/x64/Debug/*.pdb
/VulkanTutorial/VulkanTutorial/x64/Debug/VulkanTutorial.vcxproj.FileListAbsolute.txt
/VulkanTutorial/.vs/VulkanTutorial/v16/ipch/AutoPCH/683d10fbf6085617/MAIN.ipch
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.log
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/VulkanTutorial.write.1u.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/VulkanTutorial/x64/Release/vc142.pdb
/VulkanTutorial/x64/Release/VulkanTutorial.iobj
/VulkanTutorial/x64/Release/VulkanTutorial.ipdb
/VulkanTutorial/x64/Release/VulkanTutorial.pdb
